.images{
  img{
    width: 100%;
  }
  &_quarter{
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (min-width:1024px){
  .images{
    &_quarter{
      display: grid;
      grid-template-columns: repeat(4, 25%);
    }
  }
}